<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--begin::Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap"
        rel="stylesheet">
    <!--end::Fonts-->

    <!--begin::Page Vendor Stylesheets(used by this page)-->
    <link href="/assets/plugins/custom/datatables/datatables.bundle.rtl.css" rel="stylesheet" type="text/css">

    <!--end::Page Vendor Stylesheets-->

    <!--begin::Global Stylesheets Bundle(used by all pages)-->
    <link href="/assets/plugins/global/plugins.bundle.rtl.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/style.bundle.rtl.css" rel="stylesheet" type="text/css" />
    <!--end::Global Stylesheets Bundle-->


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .title {
            background-color: darkgray;
            border-radius: 30px;
            font-weight: bolder;
        }

        html,
        body {
            background-color: white !important;
        }

        #celBorder1,
        #celBorder2 {
            border: 0 !important;
            border-right: 1px solid rgb(255, 255, 255) !important;
            border-bottom: 1px solid rgb(255, 255, 255) !important;
        }

        @font-face {
                font-family: Cairo;
                src: url("/assets/media/fonts/cairo/Cairo-VariableFont_wght.ttf");
            }

        span {
            font-weight: bolder;
        }

        @media print {
            * {
                font-weight: bolder !important;
            }

            
        }
    </style>

</head>

<body>
    <div class="container">
        <div class="row align-items-center text-center mt-5">
            <div class="col-12 align-items-center">
                <img alt="Logo" src="/assets/media/logos/logo1-dark.png" class="h-150px" />

            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-10 align-items-center text-center mx-auto p-4">
                <h1 class="p-1">شكراً لإختياركم مطحنة البراق</h1>
                <h1 class="p-1 title">فاتورة</h1>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-12 align-items-center text-center">
                <table class="table fs-2" style="font-weight:500">
                    <tbody>
                        <tr>
                            <td>السيد/ة : <span>
                                    <%= invoice.for.name %>
                                </span></td>
                            <td>نوع الفاتورة :
                                <% if (invoice.InvoiceType=='order' ) { %>
                                    <span>بيع</span>
                                    <% } else if (invoice.InvoiceType=='return' ) { %>
                                        <span>إرجاع</span>
                                        <% } else if (invoice.InvoiceType=='batch' ) { %>
                                            <span>دفعة</span>
                                            <% } else if (invoice.InvoiceType=='extra' ) { %>
                                                <span>مضافة</span>
                                                <% } else if (invoice.InvoiceType=='exchange' ) { %>
                                                    <span>إستبدال</span>
                                                    <% } %>
                            </td>
                        </tr>
                        <% if (invoice.InvoiceType !=='batch' ) { %>
                            <tr>
                                <td>رقم الفاتورة : <span>
                                        <%= invoice.serialNumber %>
                                    </span></td>
                                <td>رقم الطلبية : <span>
                                        <%= invoice.data.serialNumber %>
                                    </span></td>
                            </tr>
                            <tr>
                                <td colspan="2">قيمة الفاتورة : <span>
                                        <%= invoice.amount %> شيكل
                                    </span></td>
                            </tr>
                            <% } else { %>
                                <tr class="text-center">

                                    <td colspan="2">رقم الفاتورة : <span>
                                            <%= invoice.serialNumber %>
                                        </span></td>
                                </tr>
                                <% } %>
                    </tbody>
                </table>
            </div>
        </div>
        <% if (invoice.InvoiceType !=='batch' ) { %>
            <div class="row  align-items-center mb-7">
                <div class="col-12 align-items-center">
                    <table class="h2 text-center table align-middle table-row-dashed fs-3">
                        <thead class="border border-dark" style="background-color: darkgray;">
                            <tr>
                                <th>المنتج</th>
                                <th>الكمية</th>
                                <th>السعر</th>
                                <th>المجموع</th>
                            </tr>
                        </thead>
                        <tbody class="border border-dark">
                            <% invoice.data.products.forEach(product=> { %>
                                <tr>
                                    <td>
                                        <%= product.name %>
                                    </td>
                                    <td>
                                        <%= `${(product.manualPrice) ? '-' : product.qty}` %>
                                    </td>
                                    <td>
                                        <%= product.price %>
                                    </td>
                                    <td>
                                        <%= product.Totalprice %>
                                    </td>

                                </tr>
                                <% }) %>
                                    <tr>
                                        <td id="celBorder1" rowspan="7"></td>
                                        <td id="celBorder2" rowspan="7"></td>
                                        <td>الإجمالي</th>
                                        <td>
                                            <%= invoice.data.totalProductsPrice %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>الخصم</td>
                                        <td>
                                            <%= invoice.data.discount %>
                                        </td>
                                    </tr>

                                    <tr style="border: 4px solid black;">
                                        <td>للدفع</td>
                                        <td>
                                            <%= invoice.data.totalPrice %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>المدفوع</td>
                                        <td>
                                            <%= invoice.data.paidAmount %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>المسترد</td>
                                        <td>
                                            <%= invoice.data.moneyBack %>
                                        </td>
                                    </tr>
                                    <% if (invoice.for.type !=='public' ) { %>
                                        <tr style="background-color: gainsboro;">
                                            <td>قديم</td>
                                            <td>
                                                <%= invoice.oldBalance %>
                                            </td>
                                        </tr>
                                        <tr style="background-color: gainsboro;">
                                            <td>جديد</td>
                                            <td>
                                                <%= invoice.newBalance %>
                                            </td>
                                        </tr>
                                        <% } %>



                        </tbody>
                    </table>

                </div>
            </div>
            <% } %>

                <% if (invoice.InvoiceType=='batch' ) { %>
                    <div class="row align-items-center">
                        <div class="col-12 align-items-center">

                            <table class="h2 text-center table align-middle table-row-dashed fs-3"
                                style="font-weight:500">
                                <tbody class="border border-dark">
                                    <tr>
                                        <td>قيمة الفاتورة</td>
                                        <td>
                                            <%= invoice.amount %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>رصيد قديم</td>
                                        <td>
                                            <%= invoice.oldBalance %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>رصيد جديد</td>
                                        <td>
                                            <%= invoice.newBalance %>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <% } %>

                        <div class="row align-items-center mt-5">
                            <div class="col-7">
                                <h4 class="">تاريخ الإصدار</h3>
                                    <h5 class="pt-1">
                                        <%= moment(invoice.createdAt).format('YYYY-MM-DD/HH:mm:ss') %>
                                </h4>
                            </div>
                            <div class="col-4">
                                <h4 class="">المحصل</h3>
                                    <h5 class="pt-1">
                                        <%= invoice.createdBy.name %>
                                </h4>
                            </div>
                        </div>
                        <hr class="m-4" style="height: 5px;">
                        <h5 class="p-1 m-2 mb-7 text-center">شكراً لزيارتكم لنا</h5>

    </div>
</body>

</html>